/*--------------------------------------------------------------------------- */
/*     Fonts                                                                  */
/*----------------------------------------------------------------------------*/
@font-face {
  font-family: 'docktrin';
  src: url(/fonts/docktrin.ttf) format('truetype');
}

@font-face {
  font-family: 'van dyke';
  src: url(/fonts/VAN_DYKE.ttf) format('truetype');
}

/* @font-face {
  font-family: 'kleader';
  src: url(/fonts/Kleader.ttf) format('truetype');
}

/*--------------------------------------------------------------------------- */
/*     Colors                                                                 */
/*----------------------------------------------------------------------------*/
/* https://getbootstrap.com/docs/5.3/customize/color/#colors */
:root {
  --pm-primary-700: #351901;
  --pm-primary-600: #613304;
  --pm-primary-500: #924f09;
  --pm-primary-400: #C66D10;
  --pm-primary-300: #FD8D18;
  --pm-primary-200: #FEC4A8;
  --pm-primary-100: #FFEDE7;

  --pm-gray-700: #22201F;
  --pm-gray-600: #413E3D;
  --pm-gray-500: #64605D;
  --pm-gray-400: #898380;
  --pm-gray-300: #B0A8A4;
  --pm-gray-200: #D4D0CE;
  --pm-gray-100: #F1F0F0;

  --bs-body-color: var(--pm-gray-700);
  --bs-black-rgb: 34, 32, 31;
}

[data-bs-theme="light"] {
  --bs-body-color: var(--pm-gray-700);
  --bs-black-rgb: 34, 32, 31;
}

[data-bs-theme="dark"] {
  --bs-body-color: var(--pm-gray-100);
  --bs-black-rgb: 241, 240, 240;
}

/*--------------------------------------------------------------------------- */
/*     Global                                                                 */
/*----------------------------------------------------------------------------*/

html,
body {
  height: auto;
  margin: 0;
  cursor: url('/img/sample-cursor.png') 4 4, auto;
  font-family: "Crimson Pro", serif;
}

body {
  z-index: 0;
}

.navbar {
  z-index: 3;
}

h2, h3, h4, h5, h6, legend {
  font-family: 'van dyke', serif;
}

#content {
  max-width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  z-index: 2;
}

.footer {
  height: 48px;
  background-color: #3b3b3b;
}

.dropdown-menu {
  z-index: 1050 !important; /* Keep dropdown always on top */
}

.modal-backdrop {
  z-index: -1;
}

.form-container {
  background-color: rgba(128,128,128, 0.1);
}

.tooltip {
  font-size: 12px;
}

/*--------------------------------------------------------------------------- */
/*     Scroll bar                                                             */
/*----------------------------------------------------------------------------*/
*::-webkit-scrollbar {
  width: 4px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--pm-gray-600);
  border-radius: 4px;
}

*::-webkit-scrollbar-track {
  background-color: transparent;
}

/*--------------------------------------------------------------------------- */
/*    Cursor                                                                  */
/*----------------------------------------------------------------------------*/
a, button, div [role="button"], input[type="submit"], input[type="button"] {
  cursor: url('/img/sample-cursor.png') 4 4, auto !important;
}

/* html:active,
body:active {
  cursor: url('/img/sample-cursor-active.png') 4 4, auto;
} */
a:active, button:active, 
div [role="button"]:active, input[type="submit"]:active, input[type="button"]:active {
  cursor: url('/img/sample-cursor-active.png') 4 4, auto !important;
}

/*--------------------------------------------------------------------------- */
/*     Background animation                                                   */
/*----------------------------------------------------------------------------*/
#cloud {
  position: absolute;
  display: block;
  top: -60px;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background: url('/img/cloud.png');
  animation: float-cloud 120s linear infinite;
  z-index: 1;
}
@keyframes float-cloud {
  0%{
    background-position: 0px;
  }
  100%{
    background-position: 5440px;
  }
}

.star {
  position: absolute;
  display: block;
  background-color: #f6f7af;
  border-radius: 50%;
  box-shadow: 0 0 4px 3px rgba(#f6f7af, 0.2);
  opacity: 0;
  animation: twinkle 3s infinite;
}
@keyframes twinkle {
  0% {
    opacity: 0;
  }
  50% {
    transform: scale(1.1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

.shooting-star {
  position: absolute;
  width: 4px;
  height: 4px;
  background: linear-gradient(45deg, #f6f7af, rgba(255, 255, 255, 0));
  opacity: 0;
  animation: shoot 2s ease-in-out infinite;
} 
@keyframes shoot {
  0% {
    opacity: 1;
    transform: translate(0, 0);
  }
  100% {
    opacity: 0;
    transform: translate(-200px, 300px);
  }
}

/*--------------------------------------------------------------------------- */
/*    Buttons                                                                 */
/*----------------------------------------------------------------------------*/
.btn-wood {
  background-color: var(--pm-primary-500);
  color: var(--pm-gray-100);
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  font-weight: 600;
}

.search-submit-btn {
  border: none;
  background-color: transparent;
}
