# Django is the main framework for the back-end of the web application.
Django==5.1.4

# Pillow for image processing, python-magic for file identification.
pillow==11.1.0
python-magic==0.4.27

# OpenCV for image processing (headless version for server environments) - necessary for profile picture retrived by oauth
opencv-python-headless==4.8.0.76

# numpy for numerical computing for image modification - necessary for profile picture retrived by oauth
numpy==1.24.4

# Django Channels for handling WebSockets and background tasks
daphne==4.1.2
channels==4.0.0
asgiref==3.8.1
django-eventstream==4.5.1

# Django Ninja for creating fast APIs with Django
django-ninja==1.3.0
annotated-types==0.7.0
django-cors-headers==4.6.0
pydantic==2.10.5
pydantic_core==2.27.2
typing_extensions==4.12.2
sqlparse==0.5.3

# Database profiling
django-silk==5.3.2

# pyotp is a Python library for generating and verifying one-time passwords
pyotp==2.6.0

# qrcode is a Python library for generating QR codes. [pil] is an optional dependency for image generation.
qrcode[pil]

# Gunicorn is a Python WSGI HTTP Server for UNIX
daphne==3.0.1

# Redis for caching online status for users
redis==5.0.1
psycopg2==2.9.6
