name: Front Tests

on:
  push:
    branches:
      - main
      - dev
  pull_request:
    branches:
      - main
      - dev
  workflow_dispatch:

jobs:
  frontend:
    runs-on: ubuntu-22.04
    timeout-minutes: 15

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: 22
          #cache: 'npm'
          #cache-dependency-path: './front/app/package-lock.json'

      - name: Check versions
        run: |
          node -v
          npm -v

      - name: Install dependencies
        working-directory: ./front/app
        run: |
          rm -rf node_modules package-lock.json
          npm install

      - name: Run unit tests
        working-directory: ./front/app
        run: npm test

      - name: Check code format (Prettier)
        working-directory: ./front/app
        run: |
          if ! npm run format; then
            echo "::warning title=Prettier Format Check Failed::Code formatting issues detected."
            echo "Prettier format check failed. Please fix formatting issues"
          fi
        continue-on-error: true

      - name: Run linter
        working-directory: ./front/app
        run: |
          if ! npm run lint; then
            echo "::warning title=ESLint Check Failed::Linting issues detected."
            echo "ESLint check failed. Please fix linting issues"
          fi
        continue-on-error: true

      - name: Build with Vite
        working-directory: ./front/app
        run: npm run build
